[View in Colaboratory](https://colab.research.google.com/github/himu30/Machine_learning_with_python/blob/master/assignment_8.ipynb)

**Asignment question**- Training of a model of given dataset and find out he acuracy

In [54]:
#importing libraries
 
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
data = pd.read_csv('https://raw.githubusercontent.com/Shreyas3108/house-price-prediction/master/kc_house_data.csv')
del data['date']
data.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [55]:
print(data.shape)
data.size

(21613, 20)

432260

In [0]:
from sklearn.linear_model import LinearRegression
#initialise linear regression to a variable reg
reg = LinearRegression()

In [0]:
labels = data['price']
train1 = data.drop(['id','price'], axis=1)

In [0]:
from sklearn.cross_validation import train_test_split
#variables for training testing 

#for 30% testing and 70% training
x_train,x_test,y_train,y_test = train_test_split(train1 , labels,test_size = 0.30,random_state=2)

In [61]:
#for fitting
reg.fit(x_train , y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [62]:
#for accuracy check which can be shown below
reg.score(x_test , y_test)

0.706904679413187